@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Vollkorn&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

.home{
    height: 100vh;
    width: 100vw;
    background-image: url(../../assets/imgs/palha-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    -webkit-box-shadow: inset 0px 0px 300px 160px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 300px 160px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 300px 160px rgba(0,0,0,0.75);
}



.home-logo{
    width: 100%;
    height: 89%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-logo img{
    width: 350px;
    height: auto    ;
    -webkit-box-shadow: 10px 10px 85px 28px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 85px 28px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 85px 28px rgba(0,0,0,0.75); 
}


.news{
    height: 100vh;
    width: 100vw;
    background-color:#296b45;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogo{
    height: 100vh;
    width: 100vw;
    background-color:#be0b20;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbarNav{
    background-color: #296b45;
}
li.nav-item:hover{
    background-color: #f83535;
}

.menu{
    display: flex;
    height: 50%;
    width: 100%;
    overflow-x:scroll;
}

.cartao{
    width: 550px; 
    height: 300px; 
    line-height: 110px;
    text-align: center;
    background-color: rgb(243, 225, 192);
    border-radius: 15px;
    margin-right: 100px;
    margin-left: 2rem;
}

.img-cartao{
    width: 300px;
    height: 200px;
    padding: 5px;
    border-radius: 15px;
}

.chamada-carrinho{
    margin-top: 25px;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items:center; 
    gap: 15px;
}

.botao-carrinho{
    width: 150px;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    border-color: white;
    text-decoration: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    transition: 500ms;
    margin-bottom: 10px;
}

a.botao-carrinho:link{
 color: white;
}


.botao-carrinho:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}

.contato{
    height: 100vh;
    width: 100vw;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.contato-info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    }
    
    .redes { grid-area: 1 / 1 / 3 / 3; }
    .delivery { grid-area: 3 / 1 / 5 / 3; }
    .retirada { grid-area: 1 / 3 / 5 / 5; }

.redes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-box{
    width: 250px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    font-family: 'Vollkorn', serif; 
    color: black; 
    margin-top: 5px;
}

.map-box{
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
}

.delivery{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delivery-box{
    width: 250px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    font-family: 'Vollkorn', serif; 
    color: black; 
    margin-top: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
  }
  

  /*Botão Insta*/
  .Btn {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    overflow: hidden;
  }
  .Btn1 {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    background: #25D366;
    background: -moz-linear-gradient(45deg, #25D366 0%, #43DB71 25%, #5BE581 50%, #72F095 75%, #89FCAB 100%);
    background: -webkit-linear-gradient(45deg, #25D366 0%, #43DB71 25%, #5BE581 50%, #72F095 75%, #89FCAB 100%);
    background: linear-gradient(45deg, #25D366 0%, #43DB71 25%, #5BE581 50%, #72F095 75%, #89FCAB 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25D366', endColorstr='#89FCAB', GradientType=1);
    overflow: hidden;
  }
  
  
  .svgIcon {
    transition-duration: .3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 125px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
  }

  .text2{
    position: absolute;
    color: rgb(255, 255, 255);
    width: 110px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
  }
  
  .Btn:hover {
    width: 130px;
    transition-duration: .4s;
    border-radius: 30px;
  }
  .Btn1:hover {
    width: 130px;
    transition-duration: .4s;
    border-radius: 30px;
  }
  
  .Btn:hover .text {
    opacity: 1;
    transition-duration: .4s;
  }
  .Btn1:hover .text2 {
    opacity: 1;
    transition-duration: .4s;
  }
  
  .Btn:hover .svgIcon {
    opacity: 0;
    transition-duration: .3s;
  }
  .Btn1:hover .svgIcon {
    opacity: 0;
    transition-duration: .3s;
  }
.retirada{
    display: flex;
    justify-content: center;
    align-items: center;
}


.media-img{
    height: 75vh; 
    width: 75vw;
}



/*estilização so scroll eixo x*/

/* Estilizando a barra de rolagem */
.menu::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

/* Estilizando o "trilho" da barra de rolagem */
.menu::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do "trilho" */
    border-radius: 10px; /* Arredonda as bordas do "trilho" */
}

/* Estilizando a alça da barra de rolagem */
.menu::-webkit-scrollbar-thumb {
    background-color: #888888; /* Cor da alça */
    border-radius: 6px; /* Arredonda as bordas da alça */
}

/* Estilizando a alça da barra de rolagem quando passa o mouse por cima */
.menu::-webkit-scrollbar-thumb:hover {
    background: #015b3f; /* Cor da alça quando hover */
}



@media (max-width:750px){
    .media-img{
        height: auto; 
        width: 70vw;
    }

    .home-logo{
        align-items: flex-start;
    }

    .home-logo img{
        width: 250px;
        height: auto;
        margin-top: 20px;
    }

    #id h4{
        text-align: center;
    }

    .menu{
        height: 400px;
        margin-bottom: 50px;
    }

    .catalogo-sub{
        text-align: center;
        font-size:20px;
    }

    .contato-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
      }
    

      #map-9cd199b9cc5410cd3b1ad21cab2e54d3{
        width: 250px;
        height: 250px;
      }
    
      .redes{
        width: 90vw;
        height: 250px;
      }

      .retirada{
        width: 90vw;
        height: 250px;
      }

      .delivery{
        width: 90vw;
        height: 250px;
      }
}