@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Vollkorn&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.pagina-carrinho {
    height: 100vh;
    width: 100vw;
}

/* botao voltar - carrinho */

.navbar {
    background-color: transparent;
}

.navbar > a {
    font-family: 'Limelight';
    font-size: 32px;
    text-decoration: none;
    color: #000;
}

/*PRODUTOS*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: 100%;
    background-color:#be0b20;
}

.titulo-catalogo {
    height: 10%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    height: 90%;
    width: 90%;
    overflow-x: scroll;
}



.cartao{
    width: 550px; 
    height: 300px; 
    text-align: center;
    background-color: rgb(243, 225, 192);
    border-radius: 15px;
    margin-right: 100px;
    margin-left: 2rem;
    margin-top: 50px;
}

.img-cartao{
    width: 300px;
    height: 200px;
    padding: 5px;
    border-radius: 15px;
}



/*estilização so scroll eixo x*/

/* Estilizando a barra de rolagem */
.menu::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

/* Estilizando o "trilho" da barra de rolagem */
.menu::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do "trilho" */
    border-radius: 10px; /* Arredonda as bordas do "trilho" */
}

/* Estilizando a alça da barra de rolagem */
.menu::-webkit-scrollbar-thumb {
    background-color: #888888; /* Cor da alça */
    border-radius: 6px; /* Arredonda as bordas da alça */
}

/* Estilizando a alça da barra de rolagem quando passa o mouse por cima */
.menu::-webkit-scrollbar-thumb:hover {
    background: #015b3f; /* Cor da alça quando hover */
}